/* GENERAL */
:root {
    --main_blue: #089cd2;
    --correct-green: #b2eeb1;
    --incorrect-red: #f02b2b;
    --main-orange: #fd8700;
    --light-orange: #ffb732;

}

* {
    /* Other fonts from google fonts but did not use */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Fasthand', cursive; */
    /* font-family: Helvetica; */
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url("../images/v748-toon-111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 75%;
    min-height: 100vh;
    /* Image from url(https://www.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_18717112.htm#query=light%20background&position=9&from_view=keyword&track=ais)*/
}

header {
    margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

strong,
h1, h2 {
    font-weight: 700;
}

h3, h4, h5, h6, .subtitle {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    letter-spacing: -0.25rem;
}

h2 {
    font-size: 2rem;
    letter-spacing: -0.1rem;
}

span {
    font-weight: bolder;
    font-size: 18px;
}

.subtitle {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.5rem 0 0.8rem 0;
}

.color-background {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--main-orange);
}

.card .card-content {
    padding: 20px;
}

.icon-btn {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.icon-btn i {
    margin-right: 5px;
}

blockquote {
    border-color: var(--main-orange);
    margin: 0;
}

.progress {
    height: 10px;
    border-radius: 2px;
    background-color: var(--light-orange);
}

.progress .determinate {
    border-radius: 2px;
    background-color: var(--main-orange);
}


/* HOME PAGE */

#homepage {
    text-align: center;
}

#homepage .color-background * {
    margin: 0;
}

#kanye-edition-text {
    margin-top: 0;
    /* transform: rotate(355deg); */
}

#homepage .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu button {
    width: 15%;
    min-width: 10rem;
    /* height: 40px; */
    background-color: var(--main-orange);
    color: white;
    margin: 10px;
    border: black solid 1px;
}

.menu .btn,
.menu .btn-flat {
    border: none;
    padding: 5px;
    text-transform: none;
    height: auto;
}

.menu .btn-outline {
    border: 3px solid var(--main-orange);
    color: var(--main-orange);
    background-color: transparent;
}

.menu button:hover,
.menu button:focus {
    /* color: black; */
    background-color: var(--light-orange);
    cursor: pointer;
}

.menu .btn-outline:hover,
.menu .btn-outline:focus {
    border: 3px solid var(--main-orange);
    color: white;
    background-color: var(--main-orange);
}

#play-button {
    font-size: 200%;
    padding: 15px 10px !important;
    margin-bottom: 40px !important;
}

#homepage .credits-anchor {
    color: black;
    text-decoration: underline;
    margin: 40px auto;
}

/* MODALS */

.saved-quotes-container {
    text-align: left;
}

.saved-quotes-container .saved-quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.delete-quote-btn {
    width: min-content;
    height: min-content;
    float: right;
    background-color: transparent;
    border: none;
    color: black;
}

.delete-quote-btn:hover {
    cursor: pointer;
}

.delete-quote-btn:focus,
.delete-quote-btn:hover {
    background-color: transparent;
    color: var(--main-orange);
}

#homepage .modal {
    text-align: start;
}

#how-to-play-modal .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto 0;
}

#how-to-play-modal .instructions * {
    display: inline-block;
    margin-bottom: 0;
}


/* LOADING SECTION */

#loading-section {
    width: 100%;
    height: 100vh;
}

#loading-section .valign-wrapper {
    height: 100%;
    align-items: center;
    justify-content: center;
}


/* GAME */

#game-section header {
    margin-top: 30px;
}

#game-section header h1 {
    font-size: 200%;
}

#game-section .progress {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    overflow: visible;
    
}

.kanye-head {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../images/kanye-west-head-neutral.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-15deg);
    bottom: -20px;
    animation-duration: 1.5s;
}

@keyframes happy {
    from { transform: rotate(-15deg) scale(1); }

    50% { transform: rotate(345deg) scale(2); }

    to { transform: rotate(1065deg) scale(1); }
}

@keyframes upset {
    from { transform: rotate(-15deg) scale(1); }

    10% { transform: rotate(15deg) scale(1.125); }

    20% { transform: rotate(-15deg) scale(1.25); }

    30% { transform: rotate(15deg) scale(1.375); }

    40% { transform: rotate(-15deg) scale(1.5); }

    50% { transform: rotate(15deg) scale(1.625); }

    60% { transform: rotate(-15deg) scale(1.75); }

    70% { transform: rotate(15deg) scale(1.875); }

    80% { transform: rotate(-15deg) scale(2); }

    to { transform: rotate(-15deg) scale(1); }
}

/* .kanye-head::before {
    content: "";
    width: 50px;
    height: 50px;
} */


.quote-text {
    font-size: 120%;
}

.quote-text::before,
.quote-text::after {
    content: '"';
}

.quote-card .row {
    margin-bottom: 0px;
}

.author-text::before {
    content: "- "
}

.save-quote-btn {
    width: min-content;
    height: auto;
    padding: 0px;
    float: right;
    background-color: transparent;
    border: none;

}

.save-quote-btn:active,
.save-quote-btn:focus {
    background-color: transparent;
}

/* Outline bookmark icon when not hovered over (and not toggled) */
.save-quote-btn[data-toggled="false"] .material-icons::before {
    content: "bookmark_border";
    color: var(--main-orange);
}

/* Fill in bookmark icon when hovered over or toggled */
.save-quote-btn .material-icons:hover::before,
.save-quote-btn[data-toggled="true"] .material-icons::before {
    content: "bookmark";
    cursor: pointer;
    color: var(--main-orange);
}

/* Change color of border if selected quote is corrrect or incorrect */
.correct-answer {
    border: 3px solid var(--correct-green);
}
.incorrect-answer {
    border: 3px solid var(--incorrect-red);
}

.next-btn {
    visibility: hidden;
}


/* END PAGE */

.endPageButton {
    margin-bottom:10px;
    background-color:var(--main-orange);
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#currentscore .menu,
#currentscore .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    h1, h2 {
        letter-spacing: -0.29rem;
    }

    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 3.56rem;
    }

    .subtitle {
        font-size: 2.92rem;
        line-height: 110%;
        margin: 1.9466666667rem 0 1.168rem 0;
    }
}
