:root { --main_blue: #089cd2;

}

* {

}

body {
    
}

#homepage {
    text-align: center;
}

#homepage button {
    width: 20%;
    height: 40px;
    background-color: var(--main_blue);
    color: white;
    margin: 10px;
    border: black solid 1px;
}

#homepage button:hover {
    color: black;
    cursor: pointer;
}

#play-button {
    height: 50px;
    font-size: 30px;
}

#how-to-play-button {
    background-color: white;
    color: black;
}

#how-to-play-button:hover {
    color: var(--main_blue);
}

.saved-quotes-container {
    text-align: left;
}

.quote-text {
    font-size: 120%;
}

.quote-text::before,
.quote-text::after {
    content: '"';
}

.author-text::before {
    content: "- "
}

.save-quote-btn {
    width: min-content;
    height: auto;
    padding: 0px;
    float: right;
    background-color: transparent;
    border: none;
}

/* Outline bookmark icon when not hovered over */
.save-quote-btn[data-toggled="false"] .material-icons::before {
    content: "bookmark_border";
}

/* Fill in bookmark icon when hovered over */
.save-quote-btn .material-icons:hover::before,
.save-quote-btn[data-toggled="true"] .material-icons::before {
    content: "bookmark";
    cursor: pointer;
}